@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
  }

.app {
  background-color: #7bbce8;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  height: 100vh;
  display: flex;
  justify-content: center;
  } 
  
  .todo-list {
    background: #f2f2f5;    
    max-width: 400px;
    min-width: 400px;    
  }
  
  .todo {
    background: #fff;
    height: 72px;
    border-radius: 10px;
    margin: 0px 20px;   
    -webkit-box-shadow: 0px 6px 14px -1px rgba(0,0,0,0.75), 0px 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 6px 14px -1px rgba(0,0,0,0.75), 0px 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 6px 8px -1px rgba(0,0,0,0.1), 0px 1px 1px rgba(0, 0, 0, 0.15);
   
    padding: 3px 10px;
    font-size: 18px;
    margin-bottom: 10px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .button-container {
    display: flex;  
  }

  .button-complete {
    height: 50px;
    width: 46px;
    border: 1px solid #c3e6cb;
    background-color: #D4EDDA;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-delete {
    height: 50px;
    width: 46px;
    border: 1px solid #f5c6cb;
    background-color: #f8d7da;
    border-radius: 10px;
    margin-left: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input {
    height: 50px;
    width: 100%;
    border-top: 0px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    margin-bottom: 10px;
    padding-left: 20px;
  }